body{
  background-color: black;
}

.wd-border {
  border: 1px solid rgba(0,0,0,.125);
}
.wd-more-icon {
  position: relative;
  top: 2px;
  left: -18px;
}
.wd-image-round {
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
}
.wd-height {
  height: 100%;
}
.wd-width {
  width: 100%;
}
.wd-width-95 {
  width: 95%;
}
.wd-has-search .form-control {
  padding-left: 2.375rem;
}
.wd-gear-icon {
  color: #0d6efd;
}

.wd-follow{
  float: right;
  position: absolute !important;
  right: 2px;
  top:7px;
}
.wd-search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wd-has-search .wd-form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.wd-d {
  display: inline-flex;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.wd-d-p-head {
  font-size: 13px;
  color: white;
  font-weight: bold;
}
.wd-d-p-body {
  color: white;
}
.wd-bold {
  font-weight: bold;
}
.wd-d-p-head wd-d-p-head-grey {
  font-weight: normal!important;
  color: rgb(110, 118, 125);
}
.wd-image {
  float: right;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.wd-java{
  float: left;

}




.wd-left-right-padding{
  padding-left: 16px;
  padding-right: 16px;
}

.wd-top-bottom-padding{
  padding-top: 12px;
  padding-bottom: 12px;
}

#wd-corners-round{
  border-radius: 50px;
  width: 100%;
  height: 42px;
  text-indent: 30px;
  background-color: rgb(239,243,244);
  border: 0px solid rgb(239,243,244);
}


.wd-search-row{
  height: 53px;
}
.wd-gear-icon{
  padding: 12px;
  color: lightblue;
}
.wd-icon-search{
  position: absolute;
  padding-top:13px;
  padding-left: 24px !important;
  color: grey;
}

.wd-card-top{
  max-height: 336px;
}
.wd-card-top-image{
  max-height: 336px;
}


.wd-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 16px;
  color: white;
}


.wd-topic{
  color: rgb(110,118,125);
  font-size: 13px;
}
.wd-top-with-dots{
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  border-color: #d45500;
  border-bottom-color: transparent;
}


.wd-title{
  font-weight: bold;
}
.wd-suggested-post > .wd-tweet-count{
  color: rgb(110,118,125);
  font-size: 13px;
}
.wd-tweet-count-explore{
  color: rgb(110,118,125);
  font-size: 13px;
}
.wd-explore-tweet-list{
  padding:0px !important;
}

.wd-suggested-post{
  width: 100%;
}
.wd-left-sidebar-container{
  padding: 12px 0px 0px 0px !important;
}


.wd-post-textarea > span{
  display: block !important;
}

.wd-author-name{
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.wd-post-flex{
  display: flex;
  justify-content: space-between;
}

.wd-post-flex > span{
  display: block !important;
}
.wd-post-textarea{
  float: left;
}
.wd-post-image{
  float: right;

}
.wd-post-img{
  width: 90px;
  height: 90px;
  float: right;
  border-radius: 15px;
}

.wd-tweet-button{
  border-radius: 50px !important;
  border:1px solid blue;
  width: 100%;
}
.wd-tweet-btn-div{
  width: 100%;
}
.wd-avatar-img{
  width: 48px !important;
  border-radius: 50%;
  height: 48px !important;

}
.wd-wtf-span{
  display: block !important;
  width: fit-content;
}
.wd-wtf-username{
  font-weight: bold;
  font-size: 15px;
}
.wd-wtf-userid{
  color: darkgrey;
  font-size: 13px;
}
.wd-wtf-follow-div{
  float: right;
}
.wd-wtf-user-detail-div{
  float: left;
  width: 100%;
}



/**

 */

.wd-class{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wd-total-offset{
  width: 598px;

}

.wd-left-right-padding{
  padding-left: 16px;
  padding-right: 16px;
}

.wd-top-bottom-padding{
  padding-top: 12px;
  padding-bottom: 12px;
}

.wd-top-panel{
  border-width: 1px;
  border-top: 0px;
  border-color: darkslategrey;
  border-style: solid;
  display: flex;
  justify-content: space-between;
}
.wd-top-panel#text-area{
  float: left;
}
.wd-dot-icon{
  float: right;
  color: white;
}
.wd-bookmarks-title{
  color: white;
  font-size: 20px;
  display: block !important;
}
.wd-userid{
  color: darkgrey;
  font-size: 13px;
  display: block !important;
}
.wd-avatar-img{
  width: 48px !important;
  border-radius: 50%;
  height: 48px !important;

}
.wd-avatar-div{
  width: 48px !important;
}
.wd-user-name{
  color: white;
  font-size: 15px;
  float: left;
}
.wd-user-handle{
  font-size: 15px;
  float: left;
}
.wd-top-with-dots{
  display: flex;
  /*justify-content: space-between;*/
}
.wd-saved-bookmarks{
  display: flex;
}
.wd-bookmark-content{
  display: flex;
  flex-basis: 100%;
}
.wd-dot-icon-grey{
  float: right;
  color: darkslategrey;
}
.wd-avatar-div{
  float: left;
}
.wd-bookmark-tweet-text-img{
  color: white;
  font-size: 15px;
  max-width: 506px;
}

.wd-bookmarked-post{
  border-width: 1px;
  border-color: darkslategrey;
  border-style: solid;
  border-top:0px;
}
.wd-explore-tweet-list{
  padding-top: 12px !important;
  padding-left: 16px !important;
}

.wd-content-area{
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
}

.wd-bookmark-tweet-img{

  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wd-bookmark-tweet-img-all{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.wd-bookmark-tweet-text-heading{
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding-top: 12px;
}
.wd-bookmark-tweet-text{
  padding-bottom: 12px;
}
.wd-bookmark-tweet-text-content{
  font-size: 15px;
  color: gray;
  padding-bottom: 12px;
}
.wd-bookmarked-tweet-text-div{
  border-width: 1px;
  border-color: darkslategrey;
  border-style: solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.wd-bookmarked-tweet-text-div > span{
  display: block !important;
}
.wd-bookmark-tweet-img-div{
  height: 264px;
  /*width: 504px;*/
  border-width: 1px;
  border-color: darkslategrey;
  border-style: solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.wd-bookmark-tweet-img-div-all{
  height: 264px;
  /*width: 504px;*/
  border-width: 1px;
  border-color: darkslategrey;
  border-style: solid;
  border-radius: 15px;
}

.wd-bookmark-reaction{
  display: flex;
  justify-content: space-between;
  color: darkgrey;
}
.wd-reaction-link{
  color: darkgrey;
  padding-right: 12px;
}

.wd-heart-icon{
  color: red !important;
}
.wd-reaction-icon-div{
  flex-basis: 100%;
}

